{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Reset password
{% endblock title %}
{% block content %}

                    <div class="section-header col-md-12">
                      <h2>Reset password</h2>
                        <span></span>
                          <br/><br/>

                            <div class="form-group">

                                <small class="text-muted">
                                Your password has been reset. Now you can login<a class="ml-2" href="{% url 'login' %}">Login</a> 
                                </small>
                            </div>
                    </div>

{% endblock content%}
